= form_for(@discussion) do |f|
  - if @discussion.errors.any?
    #error_explanation
      %h2
        = pluralize(@discussion.errors.count, "error")
        prohibited this discussion from being saved:
      %ul
        - @discussion.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :text_id
    %br/
    = f.text_field :text_id
  .actions
    = f.submit
