<p id="notice"><%= notice %></p>

<p>
  <strong>Discussion of the following extract from <%= link_to @discussion.text.name, text_path(@discussion.text) %>:</strong>
  <%= @discussion.extract %>
</p>

<%= link_to 'Edit', edit_discussion_path(@discussion) %> |
<%= link_to 'Back', discussions_path %>
