%p#notice= notice
%h1 Listing Texts
%table
  %thead
    %tr
      %th Name
      %th Author
      %th Content
  %tbody
    - @texts.each do |text|
      %tr
        %td= link_to text.name, text
        %td= text.author
        %td=# text.date
        %td= text.plain_content(150)
        %td=# link_to 'Show', text
        %td=# link_to 'Edit', edit_text_path(text)
        %td=# link_to 'Destroy', text, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Text', new_text_path
