<!--<div id='floatdiv'>
  <a href='#' onclick='alert(describeSelection(document.getSelection));'>Comment</a>
</div>

alert(document.getSelection().anchorOffset);-->

<% md = Redcarpet::Markdown.new(Redcarpet::Render::HTML) %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @text.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @text.author %>
</p>

<p>
  <strong>Date:</strong>
  <%= @text.date %>
</p>

<%# md.render(@text.content).html_safe %>
<%= @text.rich_content %>

<%# link_to 'Whatever', new_comment_path(text_id: @text) %>

<%= link_to 'Edit', edit_text_path(@text) %> |
<%= link_to 'Back', texts_path %>
