<div id='floatdiv'>
  Hi, campers!
</div>

<% md = Redcarpet::Markdown.new(Redcarpet::Render::HTML) %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @text.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= md.render(@text.content).html_safe %>
</p>

<p>
  <strong>Author:</strong>
  <%= @text.author %>
</p>

<p>
  <strong>Date:</strong>
  <%= @text.date %>
</p>

<%= link_to 'Edit', edit_text_path(@text) %> |
<%= link_to 'Back', texts_path %>
